doctype html
head
	meta(charset="UTF-8")
	title= 'Distrito Capital Radio'
	link(rel='stylesheet' href='css/styles.css')
	script(src='javascript/semantic.js')
	script(src='javascript/jquery.js')
	script(src='javascript/dropdown.js')