nav.ui.fluid.blue.button
	div.ui.dropdown
		div.text Programación
		div.center.menu
			a.item(href='lunes.html') Lunes
			a.item(href='martes.html') Martes
			a.item(href='miercoles.html') Miércoles
			a.item(href='jueves.html') Jueves
			a.item(href='viernes.html') Viernes