div.ui.button.fluid.blue
	div.ui.simple.dropdown
		div.text Programación
		div.center.menu
			a.item(href='lunes.html') Lunes
			a.item(href='martes.html') Martes
			a.item Miércoles
			a.item Jueves
			a.item Viernes