script(src='javascript/dropdown.js')
//include ../../files/javascript/dropdown.js
script(src='../../files/javascript/dropdown-trigger.js')
div.ui.vertical.small.teal.inverted.fluid.menu
	div.item.header Miércoles
	a.item Conciertos, Orquesta Filarmónica de Bogotá
	a.item Movilidad humana avanza
	a.item Linea abierta Bogotá
	a.item Bogotá es mujer
	a.item Puntos cardinales (ONU)
div.ui.divider
div.ui.vertical.small.teal.inverted.fluid.menu
	div.item.header Jueves
	a.item Conciertos, Orquesta Filarmónica de Bogotá
	a.item Distrito 15
	a.item Linea abierta Bogotá
	a.item Expreso 14-26
div.ui.divider
div.ui.vertical.small.teal.inverted.fluid.menu
	div.item.header Viernes
	a.item Gobierno al día
	a.item Obremos en la vía
	a.item Linea abierta Bogotá
	a.item De memoria

div.ui.dropdown
	div.text sabado
	i.icon.dropdown
	div.menu
		div.item one
		div.item two
		div.item three