include ../layouts/partials/head.jade
body
	include ../layouts/partials/header.jade
	//include ../layouts/partials/programacion.jade
	img.ui.rounded.image(src='pics/logo.png' width="100%" heigth='auto')
	//include ../layouts/partials/player.jade
	

// Design by BlueChili 
// Reach me on g at kkthanksbye.com
// http://kkthanksbye.com