doctype html
html
	head
		meta(charset="UTF-8")
		title= 'Distrito Capital Radio'
		link(rel='stylesheet' href='css/styles.css')
	body
		h1 DC Radio
		include ../layouts/partials/navbar.jade
			//include ../layouts/partials/player.jade
			//include ../layouts/partials/programacion.jade

// Design by BlueChili 
// Reach me on g at kkthanksbye.com
// http://kkthanksbye.com