include ../layouts/partials/head.jade
body
	include ../layouts/partials/header.jade
	include ../layouts/partials/programacion.jade

// Design by BlueChili 
// Reach me on g at kkthanksbye.com
// http://kkthanksbye.com