---
title: 'Martes'
layout: 'programacion'
---
	div.ui.vertical.small.teal.inverted.fluid.menu
		div.item.header Martes
		a.item Conciertos, Orquesta Filarmónica de Bogotá
		a.item Participando para la paz
		a.item En Bogotá se puede ser
		a.item Hacienda en Línea
		a.item Voces unidas (ONU)
		a.item Linea abierta Bogotá
		a.item Pregonero 10