---
title: 'Miercoles'
layout: 'programacion'
---
	div.ui.vertical.small.teal.inverted.fluid.menu
		div.item.header Miércoles
		a.item Conciertos, Orquesta Filarmónica de Bogotá
		a.item Movilidad humana avanza
		a.item Linea abierta Bogotá
		a.item Bogotá es mujer
		a.item Puntos cardinales (ONU)