---
title: 'Viernes'
layout: 'programacion'
---
	div.ui.vertical.small.teal.inverted.fluid.menu
		div.item.header Viernes
		a.item Gobierno al día
		a.item Obremos en la vía
		a.item Linea abierta Bogotá
		a.item De memoria